main{
    overflow: auto;
}

.detail{
    font-weight: bold;
}

.mission-container{
    margin-right: 0;
}

.mission-grid{
    grid-template-columns: 1fr 3fr 2fr 3fr 1fr;
    padding: 25px;
    column-gap: 5px;
    align-items: center;
}

.mission-grid::after{
    display: none!important;
}

.action-grid{
    padding-left: 10px;
    grid-template-columns: 5fr 1fr 1fr;
    align-items: center;
}

.action-grid a{
    margin: auto;
}

.btn-primary{
    align-self: start;
    margin-top: 20px;
}