
.navbar2{
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    font-weight: 700;
    box-sizing: border-box;
}

.navbar2 p{
    margin: 0;
}

.navbar-min{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    box-shadow: 5px 5px 15px grey;
    position: relative;
    z-index: 1;
}

.nav-btn{
    background: transparent;
    border: 0;
    z-index: 101;    outline: none;
    cursor: pointer;
    outline: 0!important;
}

.nav-btn path{
    transition: all 0.5s;
}

.nav-btn.active path{
    fill: white;
}

.navbar2-nav{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100vh;
    overflow-y: scroll;
    padding: 30px 0;
    transform: translateX(-100%);
    z-index: 100;
    background-color: #252539;
    transition: transform 0.5s;
}

.navbar2-nav.active{
    transform: translateX(0);
}

.navbar2-nav::-webkit-scrollbar {
    width: 10px;
}

.navbar2-nav::-webkit-scrollbar-track {
    background: #252539;
}

.navbar2-nav::-webkit-scrollbar-thumb {
    background-color: #006c91; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid #252539; /* creates padding around scroll thumb */
}


.brand{
    display: none;
}

.brand p {
    font-size: 20px;
    letter-spacing: 2px;
    color: white;
    margin-left: 3px;
}

.identity{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.identity > .name{
    font-size: 30px;
    color: #00ADEF;
}

.logout-link{
    position: absolute;
    top: 7px;
    right: 15px;
}

.logout-link path {
    transition: fill 0.2s;
}

.logout-link:hover path{
    fill: var(--primary);
}

.identity-sub{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #A9A9A9;
}

.nav-section{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.nav-section-title{
    color: #006c91;
    padding-left: 15px;
}

.nav-link{
    display: flex;
    padding: 10px 30px;
    background-color: transparent;
    border: none;
    border-radius: 15px/50%;
    color: white!important;
    font-size: 16px;
    text-decoration: none!important;
    width: 100%;
    transition: background-color 0.1s;
    align-items: center;
    cursor: pointer;
}

.nav-link:hover, .nav-link.active{
    background-color: #585888;
}

.nav-icon{
    margin-right: 10px;
}

.drop-title:after{
    content: '>';
    position: absolute;
    right: 30px;
    transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.375);
}

.drop-title.active::after{
    transform: rotateZ(90deg);
}

.drop-downs{
    height: 0;
    padding-left: 15px;
    overflow: hidden;
    transition: height 0.6s;
}

.search-bar{
    display: flex;
    align-items: center;
}

.input-searchbar{
    min-width: 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #00ADEF;
    outline: none!important;
    padding-bottom: 0;
    color: white;
}

.search-bar:focus-within{
    background-color: #585888;
}

.search-btn{
    background-color: transparent;
    border: none;
    outline: none!important;
    cursor: pointer;
}

.search-btn path {
    transition: fill 0.2s;
}

.search-btn:hover path{
    fill: white;
}


@media (min-width: 900px) {
    body{
        display: flex;
    }

    .navbar-min{
        width: 300px;
        opacity: 0;
    }

    .navbar2-nav{
        position: fixed;
        transform: none;
    }

    .brand{
        display: flex;
        align-self: center;
        align-items: center;
        margin-bottom: 30px;
    }

    .logout-link{
        top: 41px;
    }
}